@font-face {
    font-family: 'CenturyGothic';
    src: url('/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('/fonts/CenturyGothic.woff') format('woff'), url('/fonts/CenturyGothic.ttf')  format('truetype'), url('/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}


html {
    position:relative;
    min-height:100%;
}

body {
    height: 100%;
    min-width: 530px;
    background: #e7e7e7;
}



.top-content {
    display:flex;
    background: url(/pictures/bkg.png);
    height: 522px;
}

.top-content__jane {
    background: url(/pictures/bkg_jane.jpg) no-repeat;
    height: 522px;
    min-width: 351px;
}

.top-content__bkg {
    background: url(/pictures/bkg_top.jpg) no-repeat;
    height: 522px;
    width: 100%;
}



header {
    background: #2a2b2d;
    width: 100%;
    height: 85px;
    z-index: 20;
}

header.collapsed {
    position: fixed;
    top: 0
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.header-container div {
    height: 85px;
}

.logo {
    min-width: 351px;
    background: url(/pictures/logo.png) no-repeat;
}

.nav-container {
    width: auto;
}

.menu-mobile {
    display: none;
}



.content-wrapper.collapsed {
    margin-top: 85px;
}

.content {
    width: 100%;
    min-width: 530px;
}

.content {
    box-sizing: border-box;
}

.content section {
    display: flex;
    margin-top: 70px;
    flex-wrap: wrap;
}

.content section.not-first, .content section.first {
    margin-top: 0;
}

.content section .portfolio-header {
    width: 351px;
    background: #e7e7e7;
    padding: 0 30px 50px 0;
    text-align: right;
    color: #363634;
    text-transform: uppercase;
    box-sizing: border-box;
}

.content section .portfolio-content {
    max-width: 1035px;
    width: 100%;
    background: #fff;
    padding: 0 0 70px 30px;
    min-width: 530px;
}

.content section.first .portfolio-content {
    padding-top: 30px;
}

.content section.first .portfolio-header {
    padding-top: 30px;
}

.content section.not-first .portfolio-header {
    padding-top: 50px;
}

.content section .portfolio-content img {
    padding: 23px 23px 0 0 ;
    cursor: pointer;
}

.content section.not-first .portfolio-content {
    border-top: 1px solid #e7e7e7;
    padding-top: 50px;
}

.content h1 {
    font-family: Century Gothic;
    font-size: 42px;
    line-height: 110%;
    font-weight: normal;
}

.content h3 {
    font-family: Century Gothic;
    font-size: 25px;
    line-height: 110%;
    font-weight: normal;
}

nav {
    width: 100%;
}

nav.collapsed {
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 30;
    padding: 0;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 85px;
}

.menu li {
    text-align: center;
    padding: 0 20px 5px 20px;
}

.menu a:link, .menu a:visited {
    text-transform: uppercase;
    font-family: CenturyGothic;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover, .menu a:active {
    color: #9bff7c;
}


.footer .logo {
    min-width: 351px;
    height: 114px;
    background: url(/pictures/logo_footer.png) no-repeat;
}

.footer section .portfolio-content {
    background: #e7e7e7;
    margin: 0;
    padding: 50px 0
}

.footer section {
    margin: 0;
}


.menu-footer {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: auto;
}

.menu-footer a:link, .menu-footer a:visited {
    color: #444;
}

.menu-footer li {
    padding: 0 20px 0px 20px;
}

#locker.active {
    display: none;
}




@media (max-width: 1100px) {

    .menu-mobile {
        display: block;
    }

    nav, nav.collapsed {
        position: fixed;
        top: 84px;
        width: 300px;
        right: 0;
        padding-right: 30px;
        display: none;
    }
    .menu {
        display: block;
        padding-top: 50px;
        text-align: center;
    }

    .menu li {
        display: block !important;
        text-align: right;
        padding:0 0 10px 0 !important;
    }

    .menu a:link, .menu a:visited {

    }

    .mobile-hide {
        display: none;
    }

    .header-container {
        justify-content: space-between;
    }

    .header-container .menu-mobile {
        text-align: right;
    }

    nav.active, nav.collapsed.active {
        display: block;
        z-index: 6;
    }

    #locker {
        position: fixed;
        top: 84px;
        left: 0;
        opacity: 0.93;
        background-color: #333;
        width: 100%;
        height: 200%;
        display: none;
        z-index: 4;
    }

    #locker.active {
        display: block;
    }

}


@media (max-width: 1400px) {
    .content section .portfolio-header {
        width: 100%;
        text-align: left;
        padding: 0 0 0 30px !important;
    }

    .content section {
        margin-bottom: 20px;
        margin-top: 0;
    }

    .menu-footer {
        display: none;
    }

    .footer {
        height:114px;
        overflow: hidden;
    }
}